<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <h2>Контакты</h2>
            {% for num in contacts %}
                {{num}}
            {% endfor %}
        <br>
        <h3>Мы в социальных сетях</h3>
            <ul>
                <li> Инстаграм : <a href="">https://www.instagram.com/itstep.tashkent/</a></li>
                <li>Телеграм : <a href="">https://t.me/itstep_tashkent</a></li>
                <li>Ютуб : <a href="">https://www.youtube.com/channel/UC8Botn60aBltuWnLvUKAVcg</a></li>
                <li>Фейсбук : <a href="">https://www.facebook.com/itstep.tashkent/</a></li>
            </ul>

</body>
</html>